@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Spoqa Han Sans Neo ", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    padding: 30px 18px 0;
}

a {
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 18px 28px;
    font-size: 18px;
    border-radius: 2px;
    font-weight: 500;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 18px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 13px;
}

p {
    color: #5d5d5d;
    margin-bottom: 12px;
    line-height: 1.5;
}

#background {
    background-image: url("assets/box.svg");
    background-size: auto 70%;
    background-color: #d4d5d9;
    background-position: 75% 100%;
    background-repeat: no-repeat;
    height: 180px;
    line-height: 190px;
    text-align: center;
    font-size: 120px;
}

#lang {
    position: absolute;
    width: auto;

    background-color: #efefef;
    /*height: 20px;*/
    color: #5d5d5d;
    padding: 5px 10px;
    top: 210px;
    right: 18px;
    font-size: 15px;
}
